.body {
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
  font-family: 'Avenir Next', sans-serif;
  color: #000;
  line-height: 24px;
}

.clients {
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.bgvid {
  position: fixed;
  z-index: -999;
  width: 100vw;
  height: 100vh;
}

.h1 {
  font-size: 75px;
  line-height: 80px;
}

.h1.white {
  color: #fff;
}

.text.subheader {
  color: #fff;
  font-size: 24px;
  line-height: 36px;
}

.text.marginbottom {
  margin-bottom: 50px;
}

.margin {
  margin-top: 100px;
}

.home {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-linear-gradient(270deg, rgba(74, 144, 226, .8), rgba(74, 144, 226, .8));
  background-image: linear-gradient(180deg, rgba(74, 144, 226, .8), rgba(74, 144, 226, .8));
}

.div {
  margin-top: 150px;
  margin-bottom: 150px;
}

.div.feature {
  position: relative;
  z-index: 2;
  margin-right: 100px;
  margin-left: 100px;
}

.div.testimony {
  display: block;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
}

.rowlogo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.rowlogo.margin {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.columnlogo {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.logos {
  display: block;
  width: 80%;
  margin-right: auto;
  margin-bottom: 35px;
  margin-left: auto;
  opacity: 0.8;
}

.logos.size {
  width: 50%;
}

.h3 {
  font-weight: 400;
}

.quote {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-linear-gradient(270deg, rgba(74, 144, 226, .8), rgba(74, 144, 226, .8));
  background-image: linear-gradient(180deg, rgba(74, 144, 226, .8), rgba(74, 144, 226, .8));
}

.quoteauthor {
  color: #fff;
  font-size: 24px;
  line-height: 36px;
  text-align: right;
}

.expertise {
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.subtitle {
  display: inline-block;
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 700;
}

.subtitle.white {
  color: #fff;
}

.features {
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.columnfeature {
  position: relative;
  overflow: hidden;
  height: 450px;
}

.white {
  color: #fff;
}

.link {
  color: #000;
  text-decoration: none;
}

.link:hover {
  border-bottom: 1px solid #000;
}

.link.white {
  color: #fff;
}

.link.white:hover {
  border-bottom-color: #fff;
}

.about {
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.stats {
  background-image: -webkit-linear-gradient(270deg, rgba(74, 144, 226, .8), rgba(74, 144, 226, .8));
  background-image: linear-gradient(180deg, rgba(74, 144, 226, .8), rgba(74, 144, 226, .8));
}

.stattext {
  color: #fff;
  font-size: 24px;
  line-height: 36px;
}

.contact {
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.form {
  margin-top: 25px;
}

.input {
  padding-left: 0px;
  border-style: none none solid;
  border-bottom-width: 1px;
  border-bottom-color: #e6e7e8;
}

.input:focus {
  border-bottom-style: solid;
}

.input.textarea {
  height: auto;
  min-height: 125px;
}

.submit {
  display: inline-block;
  margin-top: 25px;
  padding-right: 0px;
  padding-left: 0px;
  float: right;
  background-color: transparent;
  color: #4a90e2;
  font-size: 18px;
  font-weight: 700;
}

.submit:hover {
  color: #000;
}

.checkboxrow {
  margin-top: 25px;
  margin-bottom: 10px;
}

.successmessage {
  margin-top: 25px;
}

.errormessage {
  padding: 20px;
  background-color: #d0021b;
  text-align: center;
}

.text-block {
  color: #fff;
}

.footer {
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.footerdiv {
  margin-top: 50px;
  margin-bottom: 50px;
}

.footerlogo {
  margin-bottom: 25px;
}

.featurevids {
  position: absolute;
  left: -10%;
  top: -5%;
  right: 0px;
  bottom: 0px;
  display: block;
}

.featurevids.stream {
  position: absolute;
  left: auto;
  top: -7%;
  right: 0px;
  bottom: 0px;
}

.opacity {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 1350px;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
}

.andmore {
  margin-top: 25px;
  text-align: right;
}

.testimonial {
  margin-bottom: 50px;
  color: #fff;
  line-height: 24px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.downarrow {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 5%;
  display: block;
  width: 15px;
  height: 15px;
  margin-right: auto;
  margin-left: auto;
  border-bottom: 3px solid #fff;
  border-left: 3px solid #fff;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  cursor: pointer;
}

.slider {
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.slidenav {
  margin-bottom: 50px;
  font-size: 7px;
}

.arrowicon {
  font-size: 24px;
}

.navbar {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  width: 100%;
  background-color: #fff;
}

.brand {
  margin-top: 20px;
}

.icon {
  display: inline-block;
  margin-right: 10px;
  font-family: Fontawesome, sans-serif;
  font-size: 20px;
  font-weight: 400;
}

html.w-mod-js *[data-ix="fade-up-1"] {
  opacity: 0;
  -webkit-transform: translate(0px, 100px);
  -ms-transform: translate(0px, 100px);
  transform: translate(0px, 100px);
}

html.w-mod-js *[data-ix="fade-up-2"] {
  opacity: 0;
  -webkit-transform: translate(0px, 100px);
  -ms-transform: translate(0px, 100px);
  transform: translate(0px, 100px);
}

html.w-mod-js *[data-ix="fade-up-3"] {
  opacity: 0;
  -webkit-transform: translate(0px, 100px);
  -ms-transform: translate(0px, 100px);
  transform: translate(0px, 100px);
}

html.w-mod-js *[data-ix="fade-up-4"] {
  opacity: 0;
  -webkit-transform: translate(0px, 100px);
  -ms-transform: translate(0px, 100px);
  transform: translate(0px, 100px);
}

@media (max-width: 991px) {
  .bgvid {
    left: -50%;
  }
  .div {
    margin: 100px 50px;
  }
  .div.feature {
    margin-right: 50px;
    margin-left: 50px;
  }
  .div.testimony {
    width: 80%;
  }
  .footerdiv {
    margin-right: 50px;
    margin-left: 50px;
  }
  .featurevids {
    left: -50%;
  }
  .brand {
    margin-top: 17px;
  }
  .brand.w--current {
    margin-left: 20px;
  }
  .navmenu {
    background-color: #fff;
  }
  .menubutton.w--open {
    background-color: transparent;
  }
  .menuicon {
    color: #000;
  }
}

@media (max-width: 767px) {
  .h1.white {
    font-size: 48px;
    line-height: 55px;
  }
  .text {
    margin-bottom: 50px;
  }
  .text.nomargin {
    margin-bottom: 10px;
  }
  .text.marginbottom {
    margin-bottom: 0px;
  }
  .home {
    height: auto;
  }
  .div.feature {
    margin-right: 40px;
    margin-left: 40px;
  }
  .column {
    padding-right: 0px;
    padding-left: 0px;
  }
  .stattext {
    margin-bottom: 50px;
    text-align: center;
  }
  .stattext.nomargin {
    margin-bottom: 0px;
  }
  .form {
    margin-bottom: 50px;
  }
  .opacity {
    height: 2700px;
  }
  .brand.w--current {
    margin-left: 10px;
  }
}

@media (max-width: 479px) {
  .bgvid {
    left: -100%;
  }
  .home {
    overflow: hidden;
  }
  .div.testimony {
    width: 70%;
  }
  .rowlogo {
    display: block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .rowlogo.margin {
    display: block;
  }
  .columnlogo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
  }
  .stattext {
    text-align: left;
  }
  .stattext.nomargin.exception {
    margin-bottom: 50px;
  }
  .featurevids {
    left: -80%;
  }
  .featurevids.stream {
    right: -20%;
  }
}

@font-face {
  font-family: 'Fontawesome';
  src: url('../fonts/fa-solid-900.woff2') format('woff2'), url('../fonts/fa-solid-900.eot') format('embedded-opentype'), url('../fonts/fa-solid-900.woff') format('woff'), url('../fonts/fa-solid-900.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Fontawesome';
  src: url('../fonts/fa-light-300.woff2') format('woff2'), url('../fonts/fa-light-300.eot') format('embedded-opentype'), url('../fonts/fa-light-300.woff') format('woff'), url('../fonts/fa-light-300.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Fontawesome';
  src: url('../fonts/fa-regular-400.woff2') format('woff2'), url('../fonts/fa-regular-400.eot') format('embedded-opentype'), url('../fonts/fa-regular-400.woff') format('woff'), url('../fonts/fa-regular-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNextLTPro-It.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNextLTPro-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNextLTPro-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}